name: Test

on:
  push:
    branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
        with:
          clean: false
      - name: Add key
        id: add_key
        shell: bash
        env:
          PUBLIC_KEY: ${{ secrets.PUBLIC_KEY }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          REPO: ${{ secrets.REPO }}
        run: |
          mkdir ~/.ssh
          eval "$(ssh-agent -s)"
          echo "$PRIVATE_KEY" >> ~/.ssh/id_ed25519
          echo "$PUBLIC_KEY" >> ~/.ssh/id_ed25519.pub
          echo "Host *
              IdentityFile ~/.ssh/id_ed25519" >> ~/.ssh/config
          chmod 600 ~/.ssh/*
          ssh-add ~/.ssh/id_ed25519
          git config --global core.sshCommand 'ssh -i ~/.ssh/id_ed25519 -o IdentitiesOnly=yes -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no'
          git remote add LIVE "$REPO"
          git config pull.rebase false
          git pull LIVE main
          git push LIVE main