name: Test

on:
  push:
    branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
        with:
          clean: false
      - name: Add key
        id: add_key
        shell: bash
        env:
          PUBLIC_KEY: ${{ secrets.PUBLIC_KEY }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
        run: |
          eval "$(ssh-agent -s)"
          echo "$PRIVATE_KEY" >> id_ed25519
          echo "$PUBLIC_KEY" >> id_ed25519.pub
          chmod 600 id_*
          ssh-add id_ed25519

      - name: Test keys
        id: test_keys
        shell: bash
        run: |
          eval "$(ssh-agent -s)"
          ssh-add -L

      - name: Push
        id: push
        shell: bash
        env:
          REPO: ${{ secrets.REPO }}
        run: |
          eval "$(ssh-agent -s)"
          git remote add LIVE "$REPO"
          git push LIVE main
