name: Test

on:
  push:
    branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
        with:
          clean: false
      - name: Push
        id: push
        shell: bash
        env:
          REPO: ${{ secrets.REPO }}
          PUBLIC_KEY: ${{ secrets.PUBLIC_KEY }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
        run: |
          eval "$(ssh-agent -s)"
          echo "$PRIVATE_KEY" >> id_ed25519
          echo "$PUBLIC_KEY" >> id_ed25519.pub
          ssh-add id_ed25519
          git remote add LIVE "$REPO"
          git push LIVE main
