name: Test

on:
  push:
    branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - name: Push
      id: push
      uses: actions/checkout@v2
      with:
        clean: false
      run: |
        echo "$(date +"%Y%m%d%H%M")"
